@import "tailwindcss";

/* הגדרות בסיס גלובליות */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0f172a;
    /* צבע הרקע הכהה מהעיצוב שלך */
    color: #f8fafc;
    /* טקסט בהיר */
}